.section-first {
  overflow: hidden;
  margin:0;padding:0;
  position: relative;

  font-size: 0;
  line-height: 0;
}

canvas {
  background-color: black;
  overflow:hidden;
  position: absolute;
  top: 0;
  left: 0;
}

#adsense {
  margin: 0;
  padding: 0;
  position: absolute;
  font-size: 0;
  overflow: hidden;
}

.field {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
